/* =====================
        GOOGLE FONTS
========================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,700&display=swap');

/* =====================
        GOOGLE FONTS
========================= */

/* =====================
        Universal
========================= */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    --primary-background-color: rgba(224, 44, 109, 1);
    --primary-text-color: rgba(58, 58, 58, 1);


}
body {
    font-family: 'Poppins';
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.primary-btn {
    display: inline-block;
    margin-top: 16px;
    background-color: var(--primary-background-color);
    padding: 10px 24px;
    color: white;
    border-radius: 41px;
    outline: 0;
    border: 0;
    font-size: 16px;
    font-weight: 700;
}
.primary-btn:hover{
    background-color: rgb(246, 100, 124);
    transition: background-color .1s linear;
}
/* =====================
        Universal
========================= */

/* =====================
        header
========================= */

header {
    color: var(--primary-text-color);
    height: 100vh;
    
}
/* Nav Design */
header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.navigation {
    display: flex;
}
header > nav > ul > li {
    list-style-type: none;
    margin: 10px;
    padding: 10px 15px;

}
.link-btn {
    color: var(--primary-text-color);
    text-decoration: none;
}
/* Nav Design */

/* Banner Design */
.banner {
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}
.banner-left > h1 {
    font-size: 52px;
}
.banner-right{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 475px;
    height: 475px;
}
.banner-right > img {
    display: block;
    margin: auto;
    width: 440px;
}
.icon-arrow {
    margin-left: 8px;
}
/* Banner Design */
/* =====================
        header
========================= */
/* =====================
        main
========================= */
/*Sponsors*/

.sponsor-logos{
    margin-top: 100px;
    box-shadow: 
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    height: 110px;
    padding: 10px;
}
/*Sponsors*/

/* Collection */
#collection {
    margin-top: 100px;
    color: var(--primary-text-color);
}
.title {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.cards {
    margin-top: 30px;

}
/* Collection */
/* =====================
        main
========================= */

/* =====================
   1150px is Breakpoint
========================= */
@media (max-width:1150px) {
    
    /* banner design */
    .banner {
        text-align: center;
        grid-template-columns: 1fr;

    }
    .banner-right {
        margin: 0 auto;
        width: 257px;
        height: 257px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-right > img {

        width: 202px;
    }
    .banner-left{
        order: 2;
    }
    /*banner design*/
    /*sponsor design*/
    .sponsor-logos{
        grid-template-columns: repeat(4,0.5fr);
        
     
    }
    
}
    /* banner design */
/* =====================
  1150px is Breakpoint
========================= */